@inject IJSRuntime jsRuntime
@using SampleWebsiteBlazorWasm.Shared

<div id="k1interface-visible" class="show">
    @*<div><label>Name:</label></div>
    <input asp-for="Name" class="form-control" />

    <div><label>Title:</label></div>
    <input asp-for="Title" class="form-control" />*@

    <div><label>Scan Document:</label></div>
    <div class="input-group">
        <div class="input-group-btn">
            <button id="scanbtn" type="button" class="btn btn-primary" aria-label="Bold">
                <span>Scan</span>
            </button>
        </div>
        <input class="form-control filename" aria-label="Text input with multiple buttons" />
    </div>

    <br />
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var twainOptions = await jsRuntime.InvokeAsync<TwainOptionsModel>("k1_Options");
        await jsRuntime.InvokeVoidAsync("k1_setConfig", twainOptions.ScannerInterface.Visible);
        await jsRuntime.InvokeVoidAsync("k1_renderVisible");
        await base.OnInitializedAsync();
    }
}
